<div class="dog">

  <h1>It's a dog</h1>
  <%= form_tag('/by_bread', method: :post) do%>
    <div class="form-group select-custom-form">
    	<%= select_tag :breed, options_for_select(get_bread, params['breed']), :onchange => "this.form.submit();", class: 'form-control' %>
    </div>
  <% end %>
  <div class="col-sm-12">
    <h3><%= @breed.name.humanize %></h3>	
  </div>
  
  <div class="col-sm-12">
    <%= image_tag @breed.pic_url %>	
  </div>
  

</div>
