// Place all the styles related to the breeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dog {

  text-align: center;

  img {
    width: 400px
  }
}
.select-custom-form {
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	display: block;
}
